html{
    scroll-behavior: smooth;
}
body{
    padding: 10px 20px;
    /* padding-top: 0; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1f232e;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1f232e;
}

/* Popup container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }
  
  /* Popup content */
  .popup-content {
    background-color: #292E3D;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
  }
  
  /* Popup message */
  #popup-message {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Popup button */
  .popup-button {
    background-color: #33b5e5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  
  .popup-button:hover {
    background-color: #0099cc;
  }
  
  /* Popup input field */
  .popup-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1F232D;
    color: white;
  }
/* Input popup specific styles */
#inputPopup .popup-content {
    background-color: #292E3D;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
  }
  
  #popup-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #input-popup-button {
    background-color: #33b5e5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #input-popup-button:hover {
    background-color: #0099cc;
  }
  
  
  
::-webkit-scrollbar-thumb {
    background-color: #292E3D;
    border-radius: 10px;
}
.navigation{
    position: fixed;
    color:white;
    z-index: 100;
    background: #1f232e;
    border-radius: 10px;
    top:0px;
}
.navigation-bar-2{
    display: none;
}
.navigate-items-mobile{
    display: block;
    text-align: center;
    line-height: 20px;
    list-style: none;
    padding: 0;
}
.navigate-items-mobile .navigation-item .navigation-link{
    padding: 0
}
.mobile-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}
#body-close{
    overflow: hidden;
}
.blur{
    filter: blur(10px);
}
.hidden-pop-up{
    display: block;
    position: absolute;
    z-index: 100;
    border: 2px solid dodgerblue;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    top:40%;
    left:40%;
    color: white;
}

.danger{
    transition: color 0.3s;    
}
.danger:hover{
    color:red;
}
.line.danger{
    background-color: red;
}

.hide-pop-up{
    display:none;
}
.hidden-pop-up .heading{
    font-size: 3rem;
}
.inner-header div{
    display: flex;
    align-items: center;
}
.inner-header div .profile{
    width: 17%;
}
.user-name{
    margin-left: 12px;
}
.user-chevron{
    margin-right: 25px;
    width: 12%;
    margin-top: 2px;
    margin-left: 5px;
    transition: transform 0.3s,filter 0.3s;
    cursor: pointer;
}
.user-chevron:hover{
    filter: drop-shadow(0 0 10px white);
}
.user-settings-nav-bar{
    background-color: #292E3D;
    list-style-type: none;
    position: absolute;
    text-align: center;
    padding: 10px 40px;
    top:75px;
    right:35px;
    border-radius: 10px;
}
.user-setting-item{
    margin-bottom: 20px;
    margin-top: 15px;
}
.user-setting-item a{
    color: white;
    text-decoration: none;
}
.line{
    height: 1.5px;
    border: 0;
    background-color: rgb(84, 147, 247);
    opacity: 0;
    transition: opacity 0.3s;
}
.rotated{
    transform: rotate(90deg);
}
.user-setting-item:hover > .line{
    opacity: 1;
}
.hidden{
    display: none;
}
.navigation-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-navigation{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin-right: 10%;
}
#navigation-hide-button{
    display: none;
    width: 50px;
    transition: filter 0.3s;
}
.navigation-heading{
    margin-left: 50px;
    white-space: nowrap;
}
.navigation-heading:any-link{
    color: white;
    text-decoration: none;
}
.navigate-items{
    display: flex;
    list-style: none;
    width: 76vw;
    justify-content: flex-end;
    align-items: center;
}   
.navigation-link:visited,.navigation-link{
    padding-right: 30px;
    font-weight: 500;
    color: white;   
    text-decoration: none;
}
.misplaced-item{
    position: absolute;
    rotate: -10deg;
    margin-left: 58px;
    margin-top: -225px;
    transition: filter 0.3s ,transform 0.3s;
}
.misplaced-item:hover{
    transform: translateY(-40px);
}
.bag{
    left: 290px;
    top: 400px;
}
.bag:hover{
    filter: drop-shadow(0 0 25px hsla(1,32%,34%,1));
}
.bottle1{
    z-index: 1;
    left: 150px;
    top: 410px;
}
.bottle1:hover{
    filter: drop-shadow(0 0 25px hsla(141,18%,36%,1));
}
.bottle2{
    z-index: 0;
    left: 225px;
    top: 400px;
}
.bottle2:hover{
    filter: drop-shadow(0 0 25px hsla(1,0%,48%,1));
}
.calculator{
    top: 460px;
}
.calculator:hover{
    filter: drop-shadow(0 0 25px hsla(1,0%,48%,1));
}
.intro{
    display: grid;
    grid-template-rows: repeat(100px,3);
    grid-template-columns: auto;
    position: relative;
    top:150px;
    text-align: right;
    color: white;
    width: auto;
    line-height:10px;
    text-align: center;
}
.intro-heading{
    color:white;
    font-size:2.25rem;
}
.intro-sub-heading {
    color: white;
    font-size: 1.75rem;
    white-space: nowrap;
}
.right-side{
    display: flex;
    justify-content: flex-end;
}
.misplaced-item-bag{
    display: none;
    position: absolute;
    margin-left: 125px;
    margin-top: 125px;
    transition: filter 0.3s;

}
.misplaced-item-bag:hover{
    filter: drop-shadow(0 0 25px hsla(1,32%,34%,1));
}
.intro-para{
    width: 75ch;
    line-height: 25px;
    text-align: center;
    padding-left: 40px;
}
.highlight{
    color:rgb(84, 147, 247);
    transition: text-shadow 0.3s,color 0.3s;
}
.highlight2{
    transition: color 0.3s,text-shadow 0.3s;
}
.highlight2:hover{
    color:rgb(84, 147, 247);
}
.highlight:hover,.highlight2:hover{
    text-shadow: 0 0 30px rgb(84, 147, 247);
}
.text-field{
    width: 50%;
    outline: 0;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
}
.grid-2x1{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 50%;
    justify-items: center;
}
.grid-1x2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
.text-field-label{
    justify-self: left;
    margin-left: 25%;
    transition: color 0.3s, text-shadow 0.3s;
    padding-bottom: 20px;
}
.text-field{
    transition: box-shadow 0.3s;
}
.label-input:hover .text-field-label{
    color: rgb(100, 158, 251);
    text-shadow: 0 0 20px rgb(100, 158, 251);
}
.label-input:hover .important::after{text-shadow: 0 0 20px red;}
.text-field:focus{
    box-shadow: 0 0 20px dodgerblue;
}
.important::after{
    content: "*";
    color: red;
    transition: text-shadow 0.3s;
}
.label-input{
    padding-bottom:45px;
}
.label-text-field{
    grid-template-rows: 51.8px auto;
}
.text-area{
    height: 119px;
    resize: none;
}
.button{
    width: 15%;
    padding: 15px 45px;
    border-radius: 50px;
    border: 0;
}
.submit-button{
    justify-self: right;
    background-color: rgb(100, 158, 251);
    transition: box-shadow 0.3s;
    font-weight: 500;
    cursor: pointer;
}
.submit-button:hover{
    box-shadow:0 0 20px rgb(100, 158, 251);
}
.guidelines{
    margin-top:200px;
    text-align: center;
}
.guidelines-heading{
    font-size: 3rem;
}
.grid-2x2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.guidlines-cards{
    column-gap: 40px;
    row-gap: 40px;
}
.guidelines-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
}
.card{
    border: 2px solid dodgerblue;
    border-radius: 10px;
    color: white;
    width: fit-content;
    transition: box-shadow 0.3s;
}
.card-icon{
    width: 25%;
    transition: filter 0.3s;
}
.card:hover{
    box-shadow: 0 0 10px dodgerblue;
}
.card:hover .card-icon{
    filter: drop-shadow(0 0 10px #595bd4);
}
.card:hover .highlight2{
    color:rgb(84, 147, 247);
    text-shadow: 0 0 30px rgb(84, 147, 247);
}
.crad-description{
    width: 50ch;
    line-height: 25px;
}
.content{
    padding: 40px 30px;
}
.contact-us-form{
    text-align: center;
    margin-top: 160px;
    color: white;
}
.contact-us-grid{
    justify-content:center ;
    row-gap: 15px;
    column-gap: 20px;
}
.contact-us-input{
    background-color: #272c3a;
    width: 20vw;
    padding: 15px 20px;
}
.contact-us-textarea{
    width: 46%;
    height: 60%;
    margin-top: 20px;
    background-color: #272c3a;
    padding: 15px;
}
.contact-us-submit{
    margin-top: 15px;
    margin-bottom: 50px;
}
.contact-us-input{
    color: white;
}
.contact-us-form .headings{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}
.contact-description{
    width: 75ch;
    margin-top: 0px;
    margin-bottom: 40px;
}
#guidelines-page{
    position: relative;
    top: 100px;
}
.post-item{
    display: flex;
    justify-content: center;
    margin-top: 500px;
}
.box{
    border: 2px solid dodgerblue;
    width: 75%;
    padding: 40px 25px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
    color: white;
}
.box:hover{
    box-shadow: 0 0 10px dodgerblue;
}
.box-grid{
    grid-template-columns: 60% auto;
    column-gap: 50px;
}
.post-item-description{
    text-align: center;
    align-self: flex-start;
    grid-template-rows: 25% auto;
    row-gap: 25px;
}
.item-heading{
    display: flex;
    align-content: center;
}
.post-item-heading{
    font-size: 3.5rem;
    margin:0;
}
.post-item-subheading{
    font-size: 2.5rem;
    margin-top: 0;
}
.post-item-headings{
    line-height: 60px;
}
.post-item-description-para{
    line-height: 30px;
    font-size: 1.4rem;
}
.post-new-item-button:any-link{
    color: black;
    text-decoration: none;
    background-color: rgb(84, 147, 247);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}
.post-new-item-button:hover{
    box-shadow: 0 0 20px dodgerblue;
}
.description{
    margin-bottom: 50px;
}
.lost-item-image{
    align-self: center;
}
#lost-items{
    position: relative;
    top: 400px;
}
.lost-item-image .bag{
    transition: filter 0.3s;
}
.faq-page{
    margin-top: 200px;
    color: white;
    text-align: center;
}
.faq-heading{
    font-size: 1.5rem;
}
.collapsible__header {
    display: flex;
    justify-content: space-around;
}
    
.collapsible__heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.25rem;
}
    
.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
    margin-left: 20px;
    padding-top: 20px;
}
    
.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
    font-size: 1.2rem;
    margin-top: 10px;
}
.collapsible__content p{
    margin-top: 0;
    opacity: 0.5;
    width: 75ch;
}
    
.collapsible--expanded .collapsible__chevron {
    transform: rotate(0deg);
}
    
.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}
.icon {
    width: 30px;
    height: 30px;
}
.faq-page-grid{
    display: grid;
    grid-template-rows: repeat(5,auto);
    justify-items: center;
}
.important-textarea::placeholder{
    text-align: center;
}


.footer{
    background-color: #272c3a;
    color: white;
    padding: 1px;
    text-align: center;
    border-radius: 10px;
}
@media screen and (max-width:1500px){
    .hidden-pop-up{
        left:33%;
    }
}
@media screen and (max-width:1370px) {
    .navigate-items{
        width: 70vw;
    }   
    .navigation{
        margin-left: 1%;
    }
    .misplaced-item{
        display: none;
    }
    .right-side{
        justify-content:center;  
    }
    .intro{
        margin-right: 1%;
    }
    .lost-item-image .bag{
        width: 100%;
        margin-top: 50%;
    }
}

@media screen and (max-width: 1165px) {
    .navigation-heading{
        margin-left: 0;
    }
    .navigate-items{
        width: 70vw;
    }   
    .navigation{
        margin-left: 1%;
    }
    .misplaced-item{
        display: none;
    }
    .right-side{
        justify-content:center;  
    }
    .intro{
        margin-right: 1%;
    }
    .lost-item-image .bag{
        width: 100%;
        margin-top: 50%;
    }
    .guidelines-grid{
        grid-template-columns: auto;
    }
    .contact-us-textarea{
        width: 49%;
    }
    .hidden-pop-up{
        left:25%;
    }
    
}
@media screen and (max-width:825px) {
    .intro{
        margin-left: 1%;
    }
    .intro-heading{
        font-size: 2rem;
    }
    .intro .intro-heading{
        white-space: nowrap;
    }
    .lost-item-image .bag{
        display: none;
    }
    .box-grid{
        grid-template-columns: auto;
    }
    .contact-us-textarea{
        width: 52%;
    }
    .contact-us-submit{
        white-space: nowrap;
        width: fit-content;
    }
    .navigation-item{
        margin-bottom: 10px;
    }
    #navigation-hide-button{
        display: block;
    }
    .navigation-bar{
        display: none;
    }
    .navigation{
        margin-left: 9.5%;
    }
    .navigation-bar-2{
        display: block;
    }
    .faq-heading{
        font-size: 1.25rem;
    }
    .navigation-button-highlight{
        filter: drop-shadow(0 0 10px dodgerblue);
    }
    .hidden-pop-up{
        left:20%;
    }
}

@media screen and (max-width:545px) {
    body{
        overflow-x: hidden;
    }
    .intro-heading{
        font-size: 1rem;
    }
    .intro-sub-heading{
        font-size: 1.5rem;
    }
    .intro-para{
        font-size: 0.75rem;
        width: 50ch;
        padding-left: 6.25%;
    }
    .post-item-headings{
        line-height: 39px;
    }
    .post-item-heading{
        font-size: 1.5rem;
    }
    .post-item-subheading{
        font-size: 2rem;
        margin-bottom:20px;
    }
    .post-item-description-para .description{
        font-size: 1rem;
        line-height:20px;
        margin-bottom: 25px;
    }
    .crad-description{
        font-size: 0.75rem;
        line-height: 20px;
    }
    .contact-us-textarea{
        width: 62%;
    }
    .collapsible__heading{
        font-size: 1rem;
    }
    .collapsible__content{
        font-size: 0.95rem;
        width: 40ch;
    }
    .collapsible__chevron{
        margin-left: 5px;
    }
    .faq-heading{
        font-size: 1rem;
    }
    .navigation{
        margin-left: 6.125%;
    }
    .hidden-pop-up{
        left:11%;
        white-space: nowrap;
    }
    .hidden-pop-up .heading{
        font-size: 2rem;
    }
}
@media screen and (max-width:376px) {
    .intro-sub-heading{
        white-space: nowrap;
    }
    .card-heading{
        font-size: 1.25rem;
    }
    .card-icon{
        width: 20%;
    }
    .card .content{
        padding: 20px 10px;
    }
    .hidden-pop-up{
        left:5%;
    }
}
@media screen and (max-width:320px) {
    .intro-heading{
        font-size: 0.75rem;
    }
    .intro-sub-heading{
        font-size: 1.25rem;
    }
    .intro-para{
        padding-left: 0;
    }
    .post-item-description-para .description{
        font-size: 0.75rem;
    }
    .crad-description{
        font-size: 0.65rem;
        font-weight: 400;
    }
    .faq-heading{
        font-size: 0.75rem;
    }
    .collapsible__heading{
        font-size: 0.75rem;
        width: 35ch;
    }
    .collapsible__content{
        font-size: 0.7rem;
    }
    .contact-us-textarea{
        width: 70%;
    }
    .hidden-pop-up{
        left:7%;
    }
    .hidden-pop-up .heading{
        font-size: 1.5rem;
    }
}